/* Change default styling. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Slides */
.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.mySlides.first-slide {
    opacity: 1;
}

img {
    height: 100%;
    width: 100%;
}