/* Change default styling. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* Background Color is UBC Blue according to the branding website. */
    background-color: #002145;
}

/* Slides */
.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.mySlides.first-slide {
    opacity: 1;
}

img {
    height: 100%;
    width: 100%;
    /*Object fit keeps the resolution and allows the letterboxing, you can disable this to stretch the picture*/
    object-fit: contain;
}