---
layout: fullscreen
---
{{ content }}
<div class="slideshow-container">
{% assign folders = site.data.settings[page.screen].folders %}
{% assign image_files = site.static_files | sort: 'path' %}
{% assign first = true %}
{% for folder in folders %}
    {% for file in image_files %}
        {% assign folder_with_slash = folder | append: '/' %}
        {% if file.path contains folder_with_slash %}
            {% include slideshow_image.html %}
            {% assign first = false %}
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<script>
    var interval = {{ site.data.settings[page.screen].update }} * 1000;
</script>
<script src="{{ site.baseurl }}/assets/js/change_slides.js">
</script>