---
layout: fullscreen
---
{{ content }}
<div class="slideshow-container">
{%- assign folders = site.data.settings[page.screen].folders -%}
{%- assign image_files = site.static_files -%}
{%- assign first = true -%}
{%- for folder in folders -%}
    {%- for file in image_files -%}
        {%- if file.path contains folder -%}
            <div class="mySlides fade{% if first %} first-slide{% endif %}">
                <img src="{{ file.path | relative_url }}" alt="Slideshow image">
            </div>
            {%- assign first = false -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
</div>
<script>
    var interval = {{ site.data.settings[page.screen].update }} * 1000;
</script>
<script src="/assets/js/change_slides.js">
</script>

